*{
  margin: 0px;
  padding: 0px;
}
/*
*********************************** RESPONSIVO ***********************************
*/
@media (max-width: 575.98px) {
  body{
    /*background: gray;*/
  }
  header#topo{
    padding-top: 20px;
    height: 190px;
    background: url(../img/efeito-topo.png) no-repeat left bottom;
  }
  nav{
    margin: 0 auto;
    clear: both;
    width: auto;
    float: right;
    margin-right: 5px;
  }
  nav ul li{
    padding: 10px 10px;
  }
  nav a:link, nav a:visited, nav a:active{
  }
  header #logo{
    font-size: 45px;
    text-align: right;
    margin-right: 5px;
  }
  #conteudo{
    margin: 0 auto;
    margin-top: 30px;
  }
  #conteudo{
    width: 100%;
  }
  article#principal img{
    margin: 35px 0;
    box-sizing: border-box;
    padding: 10%;
    width: 100%;
    background: url(../img/fundo.png) repeat left top;
  }
  article#secundario img{
    margin: 35px 0;
    box-sizing: border-box;
    padding: 10%;
    width: 100%;
    background: url(../img/fundo3.png) repeat left top;
  }
  #conteudo article#principal h1{
    font-size: 27px;
    margin-bottom: 20px;
    color: #f2d434;
    font-family: RB;
    text-align: center;
  }
  #secundario h1{
    font-size: 27px;
    margin-bottom: 20px;
    margin-top: 110px;
    color: #f2d434;
    font-family: RB;
    text-align: center;
  }
  #videos{
    width: 90%;
    margin: 0 auto;
  }
  #videos video{
    background: url(../img/fundo2.png) repeat left top;
    box-sizing: border-box;
    padding: 10%;
    width: 100%;
    margin: 40px auto;
    display: block;
  }
  #afazeres{
    margin-top: 44px;
  }
  #afazeres ul li{
    font-size: 14px;
  }
}
@media (min-width: 576px) {
  body{
    /*background: pink;*/
  }
  header#topo{
    padding-top: 60px;
    height: 225px;
    background: url(../img/efeito-topo.png);
  }
  nav{
    margin-top: 10px;
    float: right;
    margin-right: 10px;
  }
  nav ul li{
    padding: 10px 30px;
  }
  nav a:link, nav a:visited, nav a:active{
    
  }
  header #logo{
    font-size: 60px;
    text-align: right;
    margin-right: 20px;
    margin: 0 auto;
  }
  #conteudo{
    margin: 0 auto;
    margin-top: 30px;
  }
  #conteudo{
    width: 90%;
  }
  article#principal img{
    margin: 35px 0;
    box-sizing: border-box;
    padding: 10%;
    width: 100%;
    background: url(../img/fundo.png) repeat left top;
  }
  article#secundario img{
    margin: 35px 0;
    box-sizing: border-box;
    padding: 10%;
    width: 100%;
    background: url(../img/fundo3.png) repeat left top;
  }
  #conteudo article#principal h1{
    font-size: 27px;
    margin-bottom: 20px;
    color: #f2d434;
    font-family: RB;
    text-align: left;
  }
  #secundario h1{
    font-size: 27px;
    margin-bottom: 20px;
    margin-top: 110px;
    color: #f2d434;
    font-family: RB;
  }
  #videos{
    width: 100%;
    margin: 0 auto;
  }
  #videos video{
    background: url(../img/fundo2.png) repeat left top;
    box-sizing: border-box;
    padding: 10%;
    width: 100%;
    margin: 40px auto;
    display: inline-block;
  }
  #afazeres{
    margin-top: 44px;
  }
  #afazeres ul li{
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  body{
    /*background: orange;*/
  }
  header #logo{
    font-size: 70px;
    text-align: center;
  }
  #conteudo{
    width: 90%;
    margin-top: 30px;
  }
  article#principal img{
    display: inline;
    margin: 5% 2.3%;
    box-sizing: border-box;
    padding: 5%;
    width: 45%;
    background: url(../img/fundo.png) repeat left top;
  }
  article#secundario img{
    display: inline;
    margin: 5% 2.3%;
    box-sizing: border-box;
    padding: 5%;
    width: 45%;
    background: url(../img/fundo3.png) repeat left top;
  }
  #videos{
    width: 100%;
    margin: 0 auto;
  }
  #videos video{
    background: url(../img/fundo2.png) repeat left top;
    box-sizing: border-box;
    padding: 5%;
    width: 45%;
    margin: 40px 2.3%;
    display: inline-block;
  }
  #afazeres{
    margin-top: 60px;
  }
  #secundario h1{
    font-size: 27px;
    margin-bottom: 80px;
    margin-top: 60px;
    color: #f2d434;
    font-family: RB;
  }
}
@media (min-width: 992px) {
  body{
   /*background: green;*/
  }
  nav{
    margin-top: -60px;
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    padding: 10px 40px;
  }
  header #logo{
    font-size: 70px;
    text-align: center;
  }
  #conteudo{
    margin: 0 auto;
    margin-top: 30px;
  }
  #afazeres{
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  body{
    /*background: blue;*/
  }
}
/*
*********************************** TOPO ***********************************
*/
@font-face{
  font-family: "FA";
  src: url("../font/Filmotype-Austin.woff");
}
header #logo{
  font-family: "FA";
}
header #logo a:link, header #logo a:hover, header #logo a:visited, header #logo a:active{
  text-decoration: none;
  color: #f2d434;
}
#pintor{
  margin-top: -159px;
  margin-left: -1px;
  width: 100px;
  height: 195px;
  float: left;
}
#pintor img{
  width: 100px;
}
/*
*********************************** NAVEGAÇÃO ***********************************
*/
nav{
  /*padding: 9px 0;*/
}
nav ul li{
  display: inline-block;
  float: left;
  background: black url(../img/divisor.png) no-repeat right;
}
nav a:link, nav a:visited, nav a:active{
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}
nav ul li:hover{
  text-decoration: underline;
}
nav ul li.ultimo{
  background: black;
}
/*
*********************************** BOTÃO FLUTUANTE ***********************************
*/
#float-whats{
  z-index: 10;
  height: 50px;
  width: 50px;
  background: black;
  position: fixed;
  right: 10px;
  bottom: 100px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.7);
}
#float-whats img{
  height: 50px;
}
/*
*********************************** CORPO ***********************************
*/
body{
    background: #FBFBEF;
}
@font-face{
  font-family: "RB";
  src: url("../font/Rocket-Battle-Demo.woff");
}
#conteudo{
  clear: both;
}
article#principal{
  position: relative;
}
/*
*********************************** Aside ***********************************
*/
aside{
  background: url(../img/fundo-info.png) no-repeat;
  height: 77px;
  width: 100%;
  padding: 12px 17px;
  margin-bottom: 40px;
}
aside h4{
  width: 350px;
  font-size: 16px;
  color: #f2d434;
}
/*
*********************************** Rodapé ***********************************
*/
footer#rodape{
  margin-top: 200px;
}
/*
*********************************** Contato ***********************************
*/
#contato{
  margin-top: 100px;
  padding: 30px;
  width: 100%;
  height: 346px;
  background: url(../img/contato.png) repeat-x left top;
}
#contato h1{
  color: white;
  font-family: 'RB';
  font-size: 16px;
}
#contato h4{
  color: white;
  font-weight: bolder;
  display: block;
  margin-top: 30px;
}
#contato a{
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  border: 3px solid white;
  border-radius: 7px;
}
#contato a:link,
#contato a:visited{
  font-weight: bolder;
  text-decoration: none;
  color: white;
}
#contato a:hover{
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}
/*
*********************************** Ul ***********************************
*/
ul{
  display: block;
}
ul li{
  font-weight: bolder;
  display: inline-block;
}
ul li span{
  font-size: 13px;
}